<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{(modalState$ | async)?.alert?.title}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p> {{(modalState$ | async)?.alert?.content}} </p>
</div>
<div class="modal-footer">
    <button (click)="closeModal()" type="button" class="btn btn-danger">{{(modalState$ | async)?.alert?.textClose || 'CLOSE'}}</button>
    <button (click)="handleClickOk()" type="button" class="btn btn-success">{{(modalState$ | async)?.alert?.textOk || 'OK'}}</button>
</div>
